# Uppgift 3  
Definiera 3-6 KPIer utöver de som använts i ovanstående uppgifter och gör explorativ dataanalys på flera sheets på båda Excel-filerna.   
Se till att dokumentera vad du undersöker med markdown kombinerad med
kod i Jupyter notebook eller om du använder Pythonskript,  
skriv en markdown vid sidan om. Dokumentera
också vad du kommer fram till och spara alla visualiseringar.

In [217]:
# import neccessary libraries
import pandas as pd
import plotly_express as px

# Set paths for data
path_covid = ("../Labb1/Data/Folkhalsomyndigheten_Covid19.xlsx")

# Interesting sheets to explore further
# From ".Covid19"
deceased_per_day = "Antal avlidna per dag"
infected_per_day_region = "Antal per dag region"

## Covid 19 data
Starting to look at data from the covid19 file, exploring deceases per day and infected by day/region

In [218]:
# read in sheets to dataframes
df_deceased = pd.read_excel(path_covid, deceased_per_day)
df_infected = pd.read_excel(path_covid, infected_per_day_region, index_col="Statistikdatum")

In [219]:
# A quick look at the data, this dataset is pretty basic but still interesting to me
df_deceased.info()
df_deceased.head(5)
df_deceased.tail(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Datum_avliden  961 non-null    object
 1   Antal_avlidna  961 non-null    int64
dtypes: int64(1), object(1)
memory usage: 15.1+ KB

           Datum_avliden  Antal_avlidna
956  2022-10-23 00:00:00              4
957  2022-10-24 00:00:00              0
958  2022-10-25 00:00:00              1
959  2022-10-26 00:00:00              0
960       Uppgift saknas             31

Manipulating dataset to make it easier to work with the timeseries,  
the last datapoint in the dataset does not contain a valid date, therefore can't convert "Datum_avlidna" to datetime.  
I'll save the data to a variable instead and drop the last datpoint.

In [220]:

deceased_nodate = df_deceased.iloc[-1,-1]
deceased_nodate # Deceased with no date tied sums up to 31st.

# Dropping the last row with "Uppgift saknas"
df_deceased.drop(df_deceased.tail(1).index, inplace=True)

In [221]:
# Set index to "Datum_avliden"
df_deceased = df_deceased.set_index(["Datum_avliden"])
df_deceased.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 960 entries, 2020-03-11 to 2022-10-26
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Antal_avlidna  960 non-null    int64
dtypes: int64(1)
memory usage: 15.0 KB

In [222]:
# lite intressanta data från datasetet

# Antal döda totalt: 
print(f"Totalt = {df_deceased.sum() + deceased_nodate }\n") # Including the deceased with no date
print(f"2020 = {df_deceased.loc['2020'].sum()}\n")
print(f"2021 = {df_deceased.loc['2021'].sum()}\n")
print(f"2022 = {df_deceased.loc['2022'].sum()}\n")
print(f"No Date = Antal avlidna: {deceased_nodate}\n")

Totalt = Antal_avlidna    20659
dtype: int64

2020 = Antal_avlidna    9816
dtype: int64

2021 = Antal_avlidna    5534
dtype: int64

2022 = Antal_avlidna    5278
dtype: int64

No Date = Antal avlidna: 31

### Plotting Deceased per day

The first big wave of casualties is when covid had a break-out and the next wave in the winter 2020-2021
That the casualties increases significantly around holiday times (christmas 2020-2021) may be an indication of that people travel to see family and freinds,  
and don't care much about the regulations that Sweden set up.

In [223]:
# You can see how the casualties comes in waves
fig = px.bar(df_deceased, y=["Antal_avlidna"], 
             labels=dict(variable="", value="Antal avlidna", title="Antal döda/dag"), 
             title="Avlidna / dag")
fig.update_layout(title_x=0.5)
fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_Deceased_day.html")
# fig.show()

### Looking at sheet: "Antal per dag region" sheet from covid data

In [224]:
# Quick overview of the data, 21 regions is in the dataset
df_infected.info()
df_infected.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 996 entries, 2020-02-04 to 2022-10-26
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Totalt_antal_fall    996 non-null    int64
 1   Blekinge             996 non-null    int64
 2   Dalarna              996 non-null    int64
 3   Gotland              996 non-null    int64
 4   Gävleborg            996 non-null    int64
 5   Halland              996 non-null    int64
 6   Jämtland_Härjedalen  996 non-null    int64
 7   Jönköping            996 non-null    int64
 8   Kalmar               996 non-null    int64
 9   Kronoberg            996 non-null    int64
 10  Norrbotten           996 non-null    int64
 11  Skåne                996 non-null    int64
 12  Stockholm            996 non-null    int64
 13  Sörmland             996 non-null    int64
 14  Uppsala              996 non-null    int64
 15  Värmland             996 non-null    int64
 16  Västerbotten         996 non-null    int64
 17  Västernorrland       996 non-null    int64
 18  Västmanland          996 non-null    int64
 19  Västra_Götaland      996 non-null    int64
 20  Örebro               996 non-null    int64
 21  Östergötland         996 non-null    int64
dtypes: int64(22)
memory usage: 179.0 KB

,Totalt_antal_fall,Blekinge,Dalarna,Gotland,Gävleborg,Halland,Jämtland_Härjedalen,Jönköping,Kalmar,Kronoberg,...,Stockholm,Sörmland,Uppsala,Värmland,Västerbotten,Västernorrland,Västmanland,Västra_Götaland,Örebro,Östergötland
Statistikdatum,,,,,,,,,,,,,,,,,,,,,
2020-02-04,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-02-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [225]:
# Rename index name
df_infected = df_infected.rename_axis("Datum")

In [226]:
# Compare "totalt antal fall" in Sweden to capital: Stockholm

# Hela tidsperioden: 
print(f"Total: {df_infected['Totalt_antal_fall'].sum()}, Stockholm: {df_infected['Stockholm'].sum()}")
print(f"ca {df_infected['Stockholm'].sum() / df_infected['Totalt_antal_fall'].sum():.2%} av alla infekterade i Sverige stod Stockholm för")

Total: 2611580, Stockholm: 606611
ca 23.23% av alla infekterade i Sverige stod Stockholm för

In [227]:
# Infected per year
year_2020 = df_infected.loc["2020"]["Totalt_antal_fall"].sum()
year_2021 = df_infected.loc["2021"]["Totalt_antal_fall"].sum()
year_2022 = df_infected.loc["2022"]["Totalt_antal_fall"].sum()

### Plotting total infected by the year

In [228]:
fig = px.bar(y=[year_2020, year_2021, year_2022], x=["2020", "2021", "2022"],
             labels=dict(y="Antal smittade", x= "Årtal"), title="Antal smittade/år")

fig.update_layout(title_x= 0.5)

fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_Infected_per_year.html")
# fig.show()

In [229]:
# An overview of total infections over the timeperiod
fig = px.bar(df_infected, y=["Totalt_antal_fall"], 
             labels=dict(variable="", value="Antal smittade"), title="Antal smittade / dag")

fig.update_layout(title_x = 0.5)
fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_Infected_per_day.html")
# fig.show()

In [230]:
# Save list with all regions excluding "Totalt column"
columns = df_infected.columns
columns = columns[1:]
columns = list(columns)

Here is another example of the increasing infection rate around holiday times in Sweden by Region.  
Very few infected up until directly after christmas when people are going home from christmas 
and feeling the need to go to the doctor and get checked out. 

Another example on one of the causes of not following regulations given by the government

In [233]:
# Bar plot over infection rate over christmas both 2020-2021, 
# and 2021-2022
fig = px.bar(df_infected[columns].loc["2020-10":"2021-02"], 
             labels=dict(value="Infected", Datum="Date", variable=""))
fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_holidayinfections_2020-2021.html")


fig1 = px.bar(df_infected[columns].loc["2021-10":"2022-02"], 
             labels=dict(value="Infected", Datum="Date", variable=""))
fig1.write_html("../Labb1/Visualizations/Uppgift_3/KPI_holidayinfections_2021-2022.html")
# fig1.show()

### Comparing infected and deceased  
At last, comparing the two plots with deceased per day and infected by day you can see that the casualties were alot higher in the beginning of 2020 than the infected by day, probably because the covid-testing weren't following along or hadn't even started yet.  
However when the peak of infections around christmas 2021-2022 occured, the casualties were'nt nere as high as in the beginning. 
Probaly because the healthcare learned better and better how to deal with the symtoms and a combination with that more people were tested for the virus.  
There is probably a large number of infected people that's not represented in the dataset because they were never tested.

---
## Looking at the Vaccine data
Looking at data from the covid19_vaccine dataset

In [417]:
# Set paths for data
path_vaccine = ("../Labb1/Data/Folkhalsomyndigheten_Covid19_Vaccine.xlsx")

# Interesting sheets to explore further
# From ".Covid19_Vaccine"
vaccinated_timeseries = "Vaccinerade tidsserie"
dose_4 = "Dos 4 per åldersgrupp"

In [418]:
# Read in datasets
df_vaccinated = pd.read_excel(path_vaccine, vaccinated_timeseries)
df_dose4 = pd.read_excel(path_vaccine, dose_4)

### Starting to look at vaccinated timeseries

In [419]:
df_vaccinated.head()

,Vecka,År,Region,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus
0,52,2020,| Sverige |,1639,0.000180,Minst 1 dos
1,52,2020,| Sverige |,0,0.000000,Minst 2 doser
2,52,2020,Stockholm,201,0.000096,Minst 1 dos
3,52,2020,Stockholm,0,0.000000,Minst 2 doser
4,52,2020,Uppsala,5,0.000015,Minst 1 dos

In [420]:
# Tidying dataframe for easier usage

# df_vaccinated["Vecka"] = df_vaccinated["År"].astype(str) + "v" + df_vaccinated["Vecka"].astype(str)
# df_vaccinated.drop(columns="År", inplace=True)
df_vaccinated["Region"].replace("| Sverige |", "Sverige", inplace=True)
df_vaccinated.head()

# Removing the datapoints with Sweden
df_vaccinated_R = df_vaccinated[df_vaccinated["Region"] != "Sverige"]
df_vaccinated_R.head()

,Vecka,År,Region,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus
2,52,2020,Stockholm,201,0.000096,Minst 1 dos
3,52,2020,Stockholm,0,0.000000,Minst 2 doser
4,52,2020,Uppsala,5,0.000015,Minst 1 dos
5,52,2020,Uppsala,0,0.000000,Minst 2 doser
6,52,2020,Södermanland,90,0.000344,Minst 1 dos

Drawing histogram over the sum of people vaccinated for every week during the timeperiod, splitted by atleast 1 dose, and atleast 2 doses.  
It exponantially increases very fast in the beginning where the number of vaccinated increases by millions in just a couple of weeks.  
You can also see that dose nr 2 catches i slacking in the beginning og 2021 but catches up by the later quarter and increases simultaneously.

In [421]:
fig = px.histogram(df_vaccinated_R, x="Vecka", y="Antal vaccinerade", color="Vaccinationsstatus",
                   barmode="group" )
fig.update_layout(yaxis_title="Antal vaccinerade")

fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_Vaccinations_weekly.html")
# fig.show()

### Looking at the amount of people at higher risk (higher age) getting 4th vaccine
The dataset does not include people under 65 that got dose 4, for e.g. people in other riskgroups than high age.

In [422]:
# Renaming Region "Sverige"
df_dose4["Region"].replace("| Sverige |", "Sverige", inplace=True)

# Renaming åldersgrupp "90 eller äldre" for easier handling
df_dose4["Åldersgrupp"].replace("90 eller äldre", "90+", inplace=True)
df_dose4.tail(7)

,Region,Åldersgrupp,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus
103,Västerbotten,90+,2759,0.916611,4 doser
104,Västerbotten,Totalt,53295,0.871959,4 doser
105,Norrbotten,65-69,12083,0.760511,4 doser
106,Norrbotten,70-79,24882,0.839729,4 doser
107,Norrbotten,80-89,12929,0.868768,4 doser
108,Norrbotten,90+,2574,0.860870,4 doser
109,Norrbotten,Totalt,52468,0.827688,4 doser

In [423]:
# Checking regions, subtracting 1 for Sweden
print(f"There are {len(df_dose4['Region'].unique()) - 1} regions represented in the data")

There are 21 regions represented in the data

Comparing how big proportion of the oldest, (90+) is vaccinated to the other agegroups in each region:

In [424]:
# df with the 90+:
df_dose4_regions = df_dose4[df_dose4["Region"] != "Sverige"]



fig = px.histogram(df_dose4_regions, x="Region", y="Andel vaccinerade", color="Åldersgrupp", barmode="group")
fig.update_layout(yaxis_title = "Andel vaccinerade", title="Andel vaccinerade/region/åldersgrupp", title_x = 0.5)
fig.write_html("../Labb1/Visualizations/Uppgift_3/KPI_andel_dose4__high_age.html")
# fig.show()

We can see the best vaccinated regions and the worst by sorting on the Andel vaccinerade column:
We can see that in Dalarna, Västerbotten and Värmland over 90% of all in the age 90+ were vaccinated 4 times.  
In all 21 regions represented every region vaccinated more than 80% of the oldest, bur Stockholm hade the smallest share of vaccinations amon 90+.  
Even though the share of vaccinations was small, we can sort on "Antal vaccinerade" and see that Stockholm vaccinated the most people in the 90+ age.  
Probably because there are more people in that agegroup living in stockholm.

In [425]:
df_dose4_90 = df_dose4_regions[df_dose4_regions["Åldersgrupp"]== "90+"]
df_dose4_90.sort_values(by="Andel vaccinerade", ascending=False)
df_dose4_90.sort_values(by="Antal vaccinerade", ascending=False)

,Region,Åldersgrupp,Antal vaccinerade,Andel vaccinerade,Vaccinationsstatus
8,Stockholm,90+,16726,0.813640,4 doser
63,Västra Götaland,90+,16290,0.851631,4 doser
53,Skåne,90+,12784,0.844218,4 doser
23,Östergötland,90+,4768,0.883454,4 doser
28,Jönköping,90+,4075,0.876156,4 doser
58,Halland,90+,3666,0.871819,4 doser
68,Värmland,90+,3575,0.903462,4 doser
83,Dalarna,90+,3407,0.903953,4 doser
13,Uppsala,90+,3278,0.859240,4 doser
38,Kalmar,90+,3027,0.883022,4 doser
88,Gävleborg,90+,3016,0.853665,4 doser
73,Örebro,90+,2972,0.853778,4 doser
78,Västmanland,90+,2963,0.865615,4 doser
18,Södermanland,90+,2957,0.842450,4 doser
103,Västerbotten,90+,2759,0.916611,4 doser
108,Norrbotten,90+,2574,0.860870,4 doser
93,Västernorrland,90+,2557,0.862104,4 doser
33,Kronoberg,90+,2196,0.823706,4 doser
48,Blekinge,90+,1848,0.854369,4 doser
98,Jämtland,90+,1352,0.870013,4 doser
43,Gotland,90+,701,0.881761,4 doser