## Uppgift 2  - Uppvärmning Vaccindata

I uppgifterna nedan ska du använda dig av datasetet vaccin och bladet Vaccinerade kommun och ålder.
Använd Plotly express för att rita diagrammen nedan för de uppgifter som kräver diagram. Använd Pandas
för att svara på frågor om datasetet.

In [3]:
import plotly.express as px
import pandas as pd

In [4]:
# Read in data from .xlsx file
df = pd.read_excel("../Labb1/Data/Folkhalsomyndigheten_Covid19_Vaccine.xlsx", sheet_name="Vaccinerade kommun och ålder")
df.head()

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Län                  2900 non-null   int64
 1   Län_namn             2900 non-null   object
 2   Kommun               2900 non-null   int64
 3   Kommun_namn          2900 non-null   object
 4   Ålder                2900 non-null   object
 5   Befolkning           2900 non-null   int64
 6   Antal minst 1 dos    2900 non-null   int64
 7   Antal minst 2 doser  2900 non-null   int64
 8   Antal 3 doser        2320 non-null   float64
 9   Antal 4 doser        870 non-null    float64
 10  Andel minst 1 dos    2900 non-null   float64
 11  Andel minst 2 doser  2900 non-null   float64
 12  Andel 3 doser        2320 non-null   float64
 13  Andel 4 doser        870 non-null    float64
dtypes: float64(6), int64(5), object(3)
memory usage: 317.3+ KB

a) Hur många län finns representerade i datasetet?

In [20]:
antal_län = len(df["Län"].unique())

print(f"Det finns {antal_län}st olika län i datasetet")

Det finns 21st olika län i datasetet

b) Hur många kommuner finns representerade i datasetet?

In [19]:
antal_kommuner = len(df["Kommun"].unique())

print(f"Det finns {antal_kommuner}st olika kommuner i datasetet")

Det finns 290st kommuner i datasetet

c) Hur stor är befolkningen som är representerad i datasetet?

In [107]:
total_befolkning_dataset = df["Befolkning"].sum()

print(f"{total_befolkning_dataset}st representerar datasetet\nAlltså ca {total_befolkning_dataset/1000000:.2} miljoner människor")

9092790st representerar datasetet
Alltså ca 9.1 miljoner människor

d) Beräkna hur många barn under 18 år det finns i Sverige baserat på det här datasetet. Du får leta upp
statistik på hur stor totala befolkningen är i Sverige.

In [103]:
df.head(2)

## Del barn (12-17år) och vuxna i datasetet
ålder = df.groupby("Ålder")
under_arton = ålder.get_group("12-15")["Befolkning"].sum() +  ålder.get_group("16-17")["Befolkning"].sum()
myndiga = total_befolkning_dataset - under_arton
print(f"Totalt: {total_befolkning_dataset}, Under 18: {under_arton}, Över 18: {myndiga}")

Totalt: 9092790, Under 18: 745370, Över 18: 8347420

#### Kolla statitik för befolkning hos SCB

In [96]:

# Endast ett intressant värde (total folkmängd) så städar bort resten
df_scb = pd.read_excel("../Labb1/Data/scb_befolkning_2022.xlsx", sheet_name="Totalt", header=3)
df_scb = df_scb.iloc[:, 0:3]
df_scb = df_scb.iloc[:, 1:3]

# Sätt namn på kolumner som ej har namn
df_scb.rename(columns={"Unnamed: 1": "Län", "Unnamed: 2": "Folkmängd"}, inplace=True)
df_scb["Län"] = df_scb["Län"].str.rstrip(" ...")

# Total befolkning i Sverige 2022
total_befolkning_scb = df_scb["Folkmängd"][0]
print(total_befolkning_scb)
df_scb.head(1)

10521556.0

     Län   Folkmängd
0  Riket  10521556.0

In [106]:
# Eftersom alla sveriges myndiga är med i vaccin-datasetet men vi saknar data på 0-14 åringar 
# så antar vi att skillnaden mellan totala befolkningen från SCB och den vuxna befolkningen i vaccin-datat är barn i sverige. 
antal_barn_sverige = total_befolkning_scb - myndiga
print(f"Baserat på datasetet så fanns det {int(antal_barn_sverige)}st barn i Sverige 2022\nAlltså ca {antal_barn_sverige/1000000:.2} miljoner barn")

Baserat på datasetet så fanns det 2174136st barn i Sverige 2022
Alltså ca 2.2 miljoner barn

e) Rita ett diagram som visar på åldersfördelningen av Sveriges befolkning.

f) Rita stapeldiagram för andel med minst 1 dos per län, andel två doser per län och andel tre doser per
län

f) Tag Västra Götalands län och Stockholms län och rita diagram över andelen vaccinerade med minst 1 dos,
två doser, tre doser och fyra doser.