## Exercises: Filter and query data

In [2]:
import pandas as pd
autos = pd.read_json("../Data/autos.json")

**Use the "autos" dataset to answer the following questions:**

**Q1:** How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=3
&nbsp;&nbsp;&nbsp;price=36000.0
</details>

In [3]:
## 1. How many cars from Jaguar are in the dataset, and what is the price of the most expensive one?

#cars[cars["make"] == "jaguar"]
jaguars = autos.query("make == 'jaguar'")

jaguars = jaguars.sort_values(by="price", ascending=False)
print(jaguars["price"])
print(jaguars.info())
# print(jaguars.count())

## 3 jaguars, 36000

49    36000.0
48    35550.0
47    32250.0
Name: price, dtype: float64
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 49 to 47
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         3 non-null      object
 1   body-style         3 non-null      object
 2   bore               3 non-null      float64
 3   city-mpg           3 non-null      int64
 4   compression-ratio  3 non-null      float64
 5   curb-weight        3 non-null      int64
 6   drive-wheels       3 non-null      object
 7   engine-location    3 non-null      object
 8   engine-size        3 non-null      int64
 9   engine-type        3 non-null      object
 10  fuel-system        3 non-null      object
 11  fuel-type          3 non-null      object
 12  height             3 non-null      float64
 13  highway-mpg        3 non-null      int64
 14  horsepower         3 non-null      float64
 15  length             3 non-null      float64
 16  make               3 non-null      object
 17  normalized-losses  1 non-null      float64
 18  num-of-cylinders   3 non-null      object
 19  num-of-doors       3 non-null      object
 20  peak-rpm           3 non-null      float64
 21  price              3 non-null      float64
 22  stroke             3 non-null      float64
 23  symboling          3 non-null      int64
 24  wheel-base         3 non-null      float64
 25  width              3 non-null      float64
dtypes: float64(11), int64(5), object(10)
memory usage: 648.0+ bytes
None

**Q2:** How many cars from Toyota are in the dataset, and what is the price of the most expensive one?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;count=32
&nbsp;&nbsp;&nbsp;price=17669.0
</details>

In [4]:
toyotas = autos.query("make == 'toyota'")
print(len(toyotas.index))
toyotas = toyotas.sort_values(by="price", ascending=False)
toyotas.head(1)

## 32, 17669.0 moneyunits

32

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
172,std,convertible,3.62,24,9.3,2975,rwd,front,146,ohc,...,toyota,134.0,four,two,4800.0,17669.0,3.5,2,98.4,65.6

**Q3:** What is the length, width and height of the most expensive car in the entire dataset?

<details>
<summary>Answer</summary>
<br>&nbsp;&nbsp;&nbsp;length=199.2
&nbsp;&nbsp;&nbsp;width=72.0
&nbsp;&nbsp;&nbsp;height=55.4
</details>

In [5]:
auto = autos.sort_values(by="price", ascending=False).head(1)
# print(auto.columns)
print(f"{auto['width'].values}, {auto['length'].values}, {auto['height'].values} ")

[72.], [199.2], [55.4]

**Q4:** What is the lowest price per horsepower in the dataset, and what brand ("make") is that car?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;price per horsepower=72.84
&nbsp;&nbsp;&nbsp;brand=Toyota
</details>

In [23]:
autos.head(3)
copy = autos.copy()


copy["pph"] = copy["price"] / copy["horsepower"]

copy.sort_values(by="pph")
copy.iloc[167]

# 72.8kr/hp , Toyota

aspiration                 std
body-style             hardtop
bore                      3.62
city-mpg                    24
compression-ratio          9.3
curb-weight               2540
drive-wheels               rwd
engine-location          front
engine-size                146
engine-type                ohc
fuel-system               mpfi
fuel-type                  gas
height                    52.0
highway-mpg                 30
horsepower               116.0
length                   176.2
make                    toyota
normalized-losses        134.0
num-of-cylinders          four
num-of-doors               two
peak-rpm                4800.0
price                   8449.0
stroke                     3.5
symboling                    2
wheel-base                98.4
width                     65.6
pph                  72.836207
Name: 167, dtype: object

**Q5:** How many of the cars in the dataset has as many cylinders as they have doors?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;cars=95
</details>

In [67]:
copy = autos.copy()
copy.head(5)
new = copy["num-of-cylinders"] == copy["num-of-doors"]
new.value_counts()

## 95st

**Use the "autos" dataset and write python code to solve the following tasks:**

**T1:** Print a string to inform the user of the price difference between the cheapest and the most expensive car in the dataset.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;The price difference between the cheapest and the most expensive car is 40282.0
</details>

In [93]:
copy = autos.copy()
copy.dropna(subset="price", inplace=True)
copy.sort_values(by="price", inplace=True)
# copy.head()
cheap, expensive =  (copy.index[0], copy.index[-1])

diff = copy.at[expensive, "price"] - copy.at[cheap, "price"]

print(f"The price difference is {diff:.1f}")

The price difference is 40282.0

**T2:** Ask the user to input a brand, then print the price range for that brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volvo<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'volvo' ranges from 12940.0 to 22625.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: toyota<br>
&nbsp;&nbsp;&nbsp;The prices for cars of brand 'toyota' ranges from 5348.0 to 17669.0<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 3:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>

In [98]:
copy = autos.copy()
copy.dropna(subset=["price", "make"], inplace=True)
copy.sort_values(by="price", ascending=False)

model = input("Write a car model to check pricerange")

copy["make"].value_counts()

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              6
saab              6
porsche           4
jaguar            3
chevrolet         3
alfa-romero       3
isuzu             2
renault           2
mercury           1
Name: count, dtype: int64

**T3:** Ask the user to input a brand, then print the number of cars in the dataset for that brand, and all attributes for a random sample car of that brand.
<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: mazda<br>
&nbsp;&nbsp;&nbsp;There are 17 cars of brand 'mazda' in the dataset.<br><br>
&nbsp;&nbsp;&nbsp;Here is the data for a random 'mazda' car:<br>
&nbsp;&nbsp;&nbsp;aspiration = std<br>
&nbsp;&nbsp;&nbsp;body-style = sedan<br>
&nbsp;&nbsp;&nbsp;bore = 3.03<br>
&nbsp;&nbsp;&nbsp;city-mpg = 31<br>
&nbsp;&nbsp;&nbsp;compression-ratio = 9.0<br>
&nbsp;&nbsp;&nbsp;curb-weight = 1945<br>
&nbsp;&nbsp;&nbsp;drive-wheels = fwd<br>
&nbsp;&nbsp;&nbsp;engine-location = front<br>
&nbsp;&nbsp;&nbsp;engine-size = 91<br>
&nbsp;&nbsp;&nbsp;engine-type = ohc<br>
&nbsp;&nbsp;&nbsp;fuel-system = 2bbl<br>
&nbsp;&nbsp;&nbsp;fuel-type = gas<br>
&nbsp;&nbsp;&nbsp;height = 54.1<br>
&nbsp;&nbsp;&nbsp;highway-mpg = 38<br>
&nbsp;&nbsp;&nbsp;horsepower = 68.0<br>
&nbsp;&nbsp;&nbsp;length = 166.8<br>
&nbsp;&nbsp;&nbsp;make = mazda<br>
&nbsp;&nbsp;&nbsp;normalized-losses = 113.0<br>
&nbsp;&nbsp;&nbsp;num-of-cylinders = four<br>
&nbsp;&nbsp;&nbsp;num-of-doors = four<br>
&nbsp;&nbsp;&nbsp;peak-rpm = 5000.0<br>
&nbsp;&nbsp;&nbsp;price = 6695.0<br>
&nbsp;&nbsp;&nbsp;stroke = 3.15<br>
&nbsp;&nbsp;&nbsp;symboling = 1<br>
&nbsp;&nbsp;&nbsp;wheel-base = 93.1<br>
&nbsp;&nbsp;&nbsp;width = 64.2<br>
</details>

**T4:** Ask the user to input a brand, then export all cars of that brand to a .csv file with the same name as the brand.

<details>
<summary>Solution</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 1:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: volkswagen<br>
&nbsp;&nbsp;&nbsp;Exported 12 cars to 'volkswagen.csv'<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Example 2:</b><br>
&nbsp;&nbsp;&nbsp;Input the name of a brand: tesla<br>
&nbsp;&nbsp;&nbsp;The brand 'tesla' does not exists in the dataset.<br>
</details>